# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store

.pid
.idea
profile.out
coverage.out
coverage-all.out

/.vscode
/bootstrap
**/bootstrap
/vendor
*.local
/up.json
*.code-workspace
/test.go
/.idea

node_modules

*.zip
**/*.zip

/data
/bin
/swaggerui